/* Estilos generales */
.animacion_rebote {
    animation-name: rebote;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}




@keyframes rebote {
    0% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    
    }
}
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.title{
    display: flex;
    align-items: center;
}
.icono {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-image: url('icono.png'); 
    background-size: cover; 
    margin-right:15px ;
}


header {
    background-color: #d2a5a5;
    color: white;
    padding: 0.5em;
    text-align: start;
    width: 100%;
}

#listaSecciones ul {
    display: flex; 
    justify-content: center; 
    list-style-type: none;
    padding: 0.1em; 
}

#listaSecciones a {
    font-size: 1.6rem; 
    color: black;
    width: 100%;
}

#listaSecciones li {
    margin: 0 0.5em;
}
 
main {
    padding: 0.5em;
    width: 100%;
}


section {
    margin-bottom: 30px;
    width: 100%;
}

h2 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: auto;
}

footer {
    background-color: #d2a5a5;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
}

form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 1.2em;
    border: 1px solid #ccc;
}
input, textarea {
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}



#destacados {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0;
}

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 1%;
}

.libro_catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.libro_catalogo img {
    max-width: 100%;
    height: auto;
}


.libro {
    flex: 0 1 30%; /* Especifica el tamaño flexible del libro, ocupando inicialmente el 30% del contenedor */
    margin: 1.1em;
}

.libro img {
    width: 100%; 
    height: auto;
}

.checkbox{
   display: flex; 
   margin-right: 20px;
}
#checkboxPromociones{
    margin-bottom: 15px;
}

.detalle {
display: none;
background-color: #b7b7b7;
}


.numeros{
    display: flex;
    align-items: center;
}
.numero {
    margin: 5px;
}
.mailContacto{
    display: flex;
    align-items: center;
}
/* Estilos para el formulario de contacto */

#contacto {
    text-align: left;
    background-color: #d2a5a5; 
    padding:1em; 
}

#formulario-contacto {
    width: 100%;
    margin: 0;
    padding: 0;
}


#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"],
#formulario-contacto input[type="tel"],
#formulario-contacto textarea {
    width: 100%;
    max-width: 500px; /* Establece el ancho máximo deseado para los campos */
    height: 3em;
    margin: 0 auto; /* Centra los campos horizontalmente */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

.mensaje{
    height: 50px;
}



#formulario-contacto input[type="submit"]:hover {
    background-color: #6a8be4; 
}

@media only screen and (max-width: 800px ) {
    #listaSecciones a {
        font-size: 1.4rem;
}
}
@media only screen and (max-width: 600px ) {
    #listaSecciones a {
        font-size: 1.2rem;
}
}
@media only screen and (max-width: 400px ) {
    #listaSecciones a {
        font-size: 0.8rem;
    }
    #catalogo {
        display: block;
}
}
